.level-row {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #3f8534;
}

.level-row:last-child {
    border-bottom: none;
}

#levels-container {
    padding: 20px;
    margin-top: 20px;
    height: 100%;
}

.check-answer {
    margin-top: 50px;
    width: 200px;
}

.result-row {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  width: 100%;
}

.result-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 450px; 
  min-width: 200px;
}

.result-text-container {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  white-space: pre-line;
  width: 100%;
}

