#history-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
}

.check-answer {
    margin-top: 20px;
    width: 200px;
    text-align: center; 
}

.global-value {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto auto;
  justify-items: center;
  gap: 10px;
}

.global-item-1 {
  grid-column: 1; 
  grid-row: 1;
}

.global-item-2 {
  grid-column: 2;
  grid-row: 1;
}

.global-item-3 {
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-self: center;
}

.global-item-4 {
  grid-column: 1 / span 2;
  grid-row: 3;
  justify-self: center;
}


.content-text-container {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  white-space: pre-line;
  width: 100%;
}

