.completion-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; top: 0; }
  to { opacity: 1; top: 20px; }
}

@keyframes fadeOut {
  from { opacity: 1; top: 20px; }
  to { opacity: 0; top: 0; }
}

.fail-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff9e9e;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s forwards;
}

.error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d84747;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s forwards;
}